# Ignore build directories
dist/
build/

# Ignore node_modules directory
node_modules/

# Ignore public directory
public/

# Ignore all .log files
*.log

# Ignore configuration files
.prettierrc.js
.eslintrc.js
.husky*

# Ignore test coverage reports
coverage/

# Ignore temporary files from IDEs (e.g., VSCode, Sublime)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore others directories
docs